### Problem definition

Here are some assumptions I have made:

* The probability of a given location _p(i)_ is the number of times it is visited devided by the number of visits in the dataset
* There is no clear concept of uniqueness in airport arrivals. For one person, there is only one possible airport to reach at a time. Therefore we can take the number of vists as unique vists.

The dataset found by me is "Air Passenger Arrivals - Total by Region and Selected Country of Embarkation" collected by Singapore Changi Airport and it is available on https://data.gov.sg/dataset/air-passenger-arrivals-total-by-region-and-selected-country-of-embarkation

In [95]:
import pandas as pd

from utils import calc_location_entropy

In [94]:
df = spark.read.csv('file:///tmp/data.csv', header='true', inferSchema='true')

### ETL on input data:

* Filter valid # arrivals
* Type conversion
* Standadize column names

In [ ]:
loc_arrivals_df = df.filter('value != "na"') \
    .withColumn('num_visits', df['value'].cast(IntegerType())) \
    .withColumnRenamed('country', 'location') \
    .cache()

### Global entropy

In [83]:
calc_location_entropy(loc_arrivals_df)

3.129235821660711

### Entropy analytics by year

In [84]:
loc_arrivals_df.select(funcs.min('month'), funcs.max('month')).first()

Row(min(month)=u'1961-01', max(month)=u'2017-09')

In [85]:
# this piece of calculation takes a bit long so re-run it only when necessary
# In Scala it is possible to make `calc_location_entropy` a AggregationFunction and fasten it a lot

entropy_by_year = {}
for year in range(1961, 2017 + 1):
    yearly_df = loc_arrivals_df.filter('month like "%d%%"' % year)
    entropy_by_year[year] = calc_location_entropy(yearly_df)

In [89]:
pd_df = pd.DataFrame(data={'year': entropy_by_year.keys(), 'location_entropy': entropy_by_year.values()})

In [97]:
pd_df.sort_values(by=['year'])
pd_df

    location_entropy  year
0           2.242444  1961
1           2.251619  1962
2           2.246052  1963
3           2.130665  1964
4           2.163470  1965
5           1.869591  1966
6           2.045576  1967
7           2.118908  1968
8           2.232388  1969
9           2.273982  1970
10          2.275341  1971
11          2.369091  1972
12          2.348234  1973
13          2.346859  1974
14          2.357063  1975
15          2.389025  1976
16          2.423908  1977
17          2.450793  1978
18          2.479033  1979
19          2.473689  1980
20          2.491334  1981
21          2.519870  1982
22          2.524334  1983
23          2.522879  1984
24          2.545063  1985
25          2.703228  1986
26          2.753865  1987
27          2.763835  1988
28          2.763898  1989
29          2.753499  1990
30          2.737004  1991
31          2.766899  1992
32          2.826893  1993
33          2.925431  1994
34          2.921441  1995
35          2.975873  1996
36          3.020480  1997
37          3.095982  1998
38          3.128975  1999
39          3.132471  2000
40          3.149058  2001
41          3.173770  2002
42          3.191776  2003
43          3.194030  2004
44          3.208713  2005
45          3.212708  2006
46          3.217652  2007
47          3.248493  2008
48          3.217938  2009
49          3.189939  2010
50          3.172546  2011
51          3.169098  2012
52          3.135794  2013
53          3.137165  2014
54          3.144820  2015
55          3.127856  2016
56          3.118221  2017

### Discoveries

* Since the location of entropy represents _diversity_ of locations being visited,
in this case it shows how diversely the airports in the world have been visited.
* The year of 1966 has the lowest entropy within the dataset.
* The general trend is that as time goes by, the location entropy increases.
* In recent 10 years, 2008 has the highest entropy.
* The location entropy of airport arrivals in the world is probably related to global economy. The more prosperous the economy, people arrives more diversely at the airports in the globe.